.ipynb_checkpoints/
neghbour_pedg.fasta
neghbour_pedg.gfa
neghbour_sedg.fasta
neghbour_sedg.gfa
octoploid_long.loseq
octoploid_pe.prseq
pseudoLong2.fastq
sdg/
sdg_dbg_graph.fasta
sdg_dbg_graph.gfa
small_K.freqs
